:host {
  position: absolute;
  transform: translate(-50%, -150%);
}

.user-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-family: 'Sixtyfour';
  font-size: 18px;
  outline: none;
}
