<p-toast></p-toast>
<router-outlet></router-outlet>
@if (showLoginModal) {
  <app-login-modal (close)="onModalClose()"></app-login-modal>
}

@if (isLoading()) {
  <div class="loader-overlay">
    <div class="label">
      <span class="label-text">dispatching...</span><span class="cursor"></span>
    </div>
  </div>
}
<div class="page" (click)="onClick($event)">
  <h1 class="title" (click)="$event.stopPropagation()">{{ title() }}</h1>
  @if (showInput && !isLoading()) {
    <app-user-input [x]="inputX" [y]="inputY"></app-user-input>
  }
  @if (isLoggedIn()) {
    <button class="logout-button" (click)="onLogOut(); $event.stopPropagation()">Logout</button>
  }
</div>
<app-grid></app-grid>
